body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  border-bottom: 2px solid orange;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
  background-color: rgb(204, 204, 134);
  border-radius: 4px;
  text-decoration: none;
}

a {
  color: rgb(190, 139, 88);
  font-family: LEMON MILK;
  text-decoration: none;
}

/* a:visited {
  color: rgb(0, 0, 0);
} */

input {
  display: block;
}

img {
  max-width: 300px;
}

h1 {
  font-family: LEMON MILK;
  text-shadow: 5px 4px 4px gray;
}

#profile-pic {
  border-radius: 50%;
  display: block;
  margin-left: 100px;
}

h2 {
  font-family: LEMON MILK;
}

.sub {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: 300;
  align-content: center;
  text-align: center;
  list-style-position: inside;
}

.buttons {
  background-color: rgb(204, 204, 134);
  border: dotted 1px;
  color: black;
  font-family: LEMON MILK;
  font-size: 12px;
  border-radius: 15px;
  transition-duration: 0.4s;
  box-shadow: 3px 3px 10px black;
}

.buttons:hover {
  background-color: black;
  color: white;
}

#button-div {
  display: inline-block;
  margin-left: 70px;
}

#local {
  align-content: center;
  text-align: center;
  list-style-position: inside;
  font-size: 18px;
}

#linkz {
  display: block;
  padding: 15px 10px 17px 13px;
}

#eating {
  display: block;
  margin-left: 120px;
  height: 50px;
  width: 250px;
  font-family: lemon milk;
  background-color: violet;
  border-radius: 20%;
  font-weight: bolder;
  box-shadow: 5px 5px 20px black;
}

#eating:hover {
  background-color: blanchedalmond;
  color: red;
}
